body {
   background-color: rgb(240, 240, 240)
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
   -webkit-appearance: none;
   pointer-events:none;
   
}

